test/src/main/mule/test567.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<error-handler name="globaErrorHandler1" doc:id="eabc6a4d-5bd5-4f17-8c86-aeb8a9ee9c18" >
		<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a6c5d809-4531-43f3-bdb9-72e1e9e76496" >
			<set-payload value="GlobalErrorHandler" doc:name="GlobalErrorHandler" doc:id="9280be6e-60f1-45c5-b093-9b36a5fca04d" />
		</on-error-continue>
	</error-handler>
	<flow name="main1" doc:id="5c5e2e6c-95c5-4ae5-84f8-04b0ca15d44d" >
		<http:listener doc:name="HTTP: GET/" doc:id="5db7a652-d444-4ebe-b68d-e8b04495c940" config-ref="HTTP_Listener_config" path="/testers"/>
		<set-payload value="Success - Begin main flow" doc:name="Success - Begin main flow" doc:id="4dcf0780-b1a7-44fc-b527-46eea0da904e" />
		<validation:is-number numberType="INTEGER" doc:name="Is number" doc:id="b329c544-bb5c-4368-bb84-6dbe4853431b" value="#[payload]" message="Validate - payload is an integer"/>
		<set-payload value="Success - End main flow" doc:name="Success - End main flow" doc:id="d07e5902-b536-4d68-8f4a-504588a5f50b" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="eacfe16a-3ad3-462f-8bff-a8ecfde70e12" >
				<set-payload value="Error Main flow" doc:name="Error Main flow" doc:id="8b35404e-d3b7-42d4-9ded-0c08a8ec63e8" />
			</on-error-continue>

		</error-handler>
	
</flow>
</mule>
